body {
    background: transparent linear-gradient(64deg, #C6D2B9 0%, #7EB78F 100%) 0% 0% repeat-x padding-box;
}

.w3-content {
    margin-bottom: 75px;
    max-width: 850px!important;
}

.mySlides {
    display: none;
}

.sliders {
    width: 100%!important;
    height: 300px!important;
    border-radius: 20px!important;
    border: 1px solid!important;
}

.news {
    text-align: center!important;
    margin-top: 120px!important;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
    }
    35% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-200%);
    }
    55% {
        transform: translateX(-300%);
    }
    70% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-400%);
    }
    90% {
        transform: translateX(-400%);
    }
    95% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(-500%);
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slides:hover .slide {
    animation-play-state: paused;
}

.slide img {
    width: 100%;
    vertical-align: top;
}

.slide a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
}

.slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.slider-controler li {
    margin: 0 0.5rem;
    display: inline-block;
    vertical-align: top;
}

.slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
    .slide {
        width: 1200px;
    }
    .caption {
        font-size: 96px;
        bottom: 96px;
        right: 50px;
    }
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}


/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.contenido-principal__imagen {
    vertical-align: top;
    margin-right: 20px;
    width: 50%;
    max-width: 550px;
}

.contenido-principal__contenedor {
    width: 50%;
}

.contenido-principal__titulo {
    font-weight: normal;
    font-size: 28px;
}

.contenido-principal__resumen {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    color: #CFCFCF;
}


/* --- --- CAROUSEL --- --- */

.carousel__contenedor {
    position: relative;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 100%;
}

.carousel__anterior {
    left: -30px;
}

.carousel__siguiente {
    right: -30px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__elemento {
    text-align: center;
    width: 237px !important;
    height: 178px !important;
    border: 1px solid;
    border-radius: 20px;
    padding: 25px;
    margin: 1px;
    background: #C6D2B9 0% 0% no-repeat padding-box;
    opacity: 1;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    body {
        padding: 40px 0;
    }
    .contenido-principal {
        flex-direction: column;
    }
    .contenido-principal>* {
        width: 100%;
    }
}

.zoom {
    width: 23px!important;
    height: 178px!important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}

ul {
    margin-top: 150px;
    list-style: none;
    display: block;
    border: none;
}

li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #323232;
    overflow: hidden;
    border: none;
}

p.menu {
    position: relative;
    padding: 16px;
    padding-right: 25px;
    opacity: 0.9;
    border: none;
    -webkit-transition: opacity 0.2s;
}

div.barra {
    position: absolute;
    height: 50px;
    width: 0px;
    background-color: #aaa;
    opacity: 0.7;
    -webkit-transition: width .2s;
    border: none;
}

.text {
    text-transform: uppercase;
    font-size: x-large;
    cursor: pointer;
}

.menus {
    display: none;
}

.headerLayout {
    top: -153px;
    left: 0px;
    opacity: 1;
}

.searchbtn {
    height: 21px;
    width: 21px;
}

.rectangleLogin {
    top: 39px;
    width: 313px;
    height: 38px;
    left: 50%;
    background: #7EB78F 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 39px;
    opacity: 1;
    margin: 5% 0 0% 80%
}

.loginbtn {
    top: 50%;
    left: 100%;
    width: 30px;
    height: 30px;
    margin: 1% 0 0 15%
}

.logintext {
    top: 35px;
    left: 1808px;
    width: 86px;
    height: 40px;
    text-align: left;
    font: normal normal bold 30px/14px Segoe UI;
    letter-spacing: 1.74px;
    color: #000000;
    text-shadow: 4px -3px 4px #84CBCF63;
    opacity: 1;
    margin: 2.5% 0 0 0%
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.loginLogos {
    width: 80px;
    height: 8 0px;
}

.facebookLogo {
    top: 251px;
    left: 768px;
    opacity: 1;
}

.googleLogo {
    top: 251px;
    left: 915px;
    opacity: 1;
}

.twitterLogo {
    top: 251px;
    left: 1057px;
    opacity: 1;
}

footer {
    display: block;
    padding: 3px;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.modalRadius {
    border: 1px solid #707070;
    border-radius: 104px;
}

.modalLogin {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content-login {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #DFDBDB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.buttonLogin {
    background-color: #C6D2B9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 20px;
    font: normal normal bold 25px/14px Verdana;
    letter-spacing: 0.57px;
    color: #00000085;
}

.buttonLogin:hover {
    opacity: 0.8;
}